<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.joel.colima</string>

    <key>UserName</key>
    <string>joel</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/joel</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>COLIMA_PORT_FORWARDER</key>
        <string>grpc</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/joel/Code/joelhooks/joelclaw/infra/colima-start.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>StandardOutPath</key>
    <string>/tmp/colima.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/colima.stderr.log</string>
</dict>
</plist>
