CRITICAL_SEARCH_TOKEN_FILE=$HOME/.config/joelclaw/critical-search-replica.token

CRITICAL_REPLICA_A_NAME=nas-a
CRITICAL_REPLICA_A_SSH=joel@nas-a
CRITICAL_REPLICA_A_ROOT=/local/disk/path/critical-search-replica
CRITICAL_REPLICA_A_BIND_ADDR=100.x.y.z
CRITICAL_REPLICA_A_URL=http://100.x.y.z:7411
CRITICAL_REPLICA_A_CONTAINER=joelclaw-critical-search-nas-a
CRITICAL_REPLICA_A_DOCKER=/path/to/docker

CRITICAL_REPLICA_B_NAME=nas-b
CRITICAL_REPLICA_B_SSH=joel@nas-b
CRITICAL_REPLICA_B_ROOT=/local/disk/path/critical-search-replica
CRITICAL_REPLICA_B_BIND_ADDR=0.0.0.0
CRITICAL_REPLICA_B_URL=http://100.x.y.z:7411
CRITICAL_REPLICA_B_CONTAINER=joelclaw-critical-search-nas-b
CRITICAL_REPLICA_B_DOCKER=/path/to/docker
